.center {
  margin: 100px 50px 75px 100px;
  /* border: 3px solid green; */
  border-style: inset;
  border-width: medium;
  border-radius: 15px;
  box-shadow: 5px 10px;
  padding: 20px;
  text-align: center;
  background-color: rgb(250, 250, 250);
  font-family: "Copperplate", "Papyrus", "fantasy";
  font-size: 50px;
  font-variant: "small-caps";
}


button {
  box-shadow: 5px 10px;
  font-family: 'Krona One', "sans-serif";
  /* font-family: "Copperplate", "Papyrus", "fantasy"; */
  font-size: 30px;
  font-weight: light;
  margin: 100px 200px 75px 100px;
  padding: 10px;
  transition: 0.5s;

}

button:hover {
  font-family: "fantasy";
  box-shadow: inherit;
}

body {
background-color: rgb(180, 180, 180);
background-repeat: no-repeat;
background-position: right top;
background-attachment: fixed;
background-size: auto;
}

i.unseen {display: none;
}

img {
  box-shadow: 5px 10px;
  width: 30%
}
